<style>
    .footer .nav-link {
    padding: 0px 10px 5px 0px;
    }

    .footer {
        color: inherit;
    }
</style>

<footer>
    <ul class="nav text-muted fw-500 fs-12 footer">
        <li class="nav-item">
            <a class="nav-link active" href="#">Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Status</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Writers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Blog</a>
        </li>
    </ul>
</footer>